on:
 push:
   branches:
     - main
     - master

jobs:
 build-and-push:
   runs-on: ubuntu-latest
  
   steps:
     # Step 1: Get your code
     - name: Checkout code
       uses: actions/checkout@v3
    
     # Step 2: Login to Docker Hub
     - name: Login to Docker Hub
       uses: docker/login-action@v2
       with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_TOKEN }}
    
     # Step 3: Build the image
     - name: Build with Docker Compose
       run: docker compose build
    
     # Step 4: Create version tag
     - name: Tag image with commit SHA
       run: |
        docker tag zubairrafi/docker-test:latest zubairrafi/docker-test:${{ github.sha }}
    
     # Step 5: Push to Docker Hub
     - name: Push to Docker Hub
       run: |
        docker push zubairrafi/docker-test:latest
        docker push zubairrafi/docker-test:${{ github.sha }}